<template>
    <div class="allexchange">
         <el-tabs :tab-position="tabPosition" style="height: 100%;">
            <el-tab-pane label="转账">
              <transfer :addresslist="addresslist" :addressValueIndex="addressValueIndex" :amountSawList="amountSawList" :amountSawValueIndex="amountSawValueIndex"></transfer>
            </el-tab-pane>
            <el-tab-pane label="投票">
              <vote :addresslist="addresslist" :addressValueIndex="addressValueIndex"></vote>
            </el-tab-pane>
            <el-tab-pane label="撤销投票">
              <votecancel :addresslist="addresslist" :addressValueIndex="addressValueIndex"></votecancel>
            </el-tab-pane>
            <el-tab-pane label="CDP抵押">
              <cdpcreate :addresslist="addresslist" :addressValueIndex="addressValueIndex"></cdpcreate>
            </el-tab-pane>
            <el-tab-pane label="CDP再抵押">
              <cdpadd :addresslist="addresslist" :addressValueIndex="addressValueIndex"></cdpadd>
            </el-tab-pane>
            <el-tab-pane label="CDP抵押赎回">
              <cdpredeem :addresslist="addresslist" :addressValueIndex="addressValueIndex"></cdpredeem>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>
<script>
import transfer from './transfer'
import vote from './vote'
import votecancel from './votecancel'
import cdpcreate from './cdpcreate'
import cdpadd from './cdpadd'
import cdpredeem from './cdpredeem'
export default {
    components:{
        transfer,
        vote,
        votecancel,
        cdpcreate,
        cdpadd,
        cdpredeem
    },
    data(){
        return {
            tabPosition: 'left',
            addresslist:[],
            addressValueIndex:'',
            amountSawList:[{
                value: 'WUSD',
                label: 'WUSD'
                }, {
                value: 'WICC',
                label: 'WICC'
                }, {
                value: 'WGRT',
                label: 'WGRT'
            }],
            amountSawValueIndex:'',
        }
    },
    methods: {
        getAddressList(){
          this.$http.get("/api/addresslist").then(res => {
                this.addresslist = []
                let datarr = res.data.data
                if(res.data.data.length>0){
                  this.addressValueIndex = datarr[0].address
                  datarr.map((item)=>{
                    this.addresslist.push({
                      value: item.address,
                      label: item.address
                    })
                  })
                }

          });
      },
      getCoinList(){
        this.$http.get("/api/coinlist").then(res => {
            this.amountSawList = []
            let coinarr = res.data.data
            if(res.data){
                  this.amountSawValueIndex = coinarr[0].coin_name
                  coinarr.map((item)=>{
                    this.amountSawList.push({
                      value: item.coin_name,
                      label: item.coin_name
                    })
                  })
                }
        });
      }
    },
    mounted(){
      this.getAddressList()
      this.getCoinList()
    }
}
</script>
<style scoped>

.allexchange >>> .el-tabs__item{
    height:65px;
    line-height: 65px;
}
.allexchange >>> .el-tabs--left .el-tabs__header.is-left{
   margin-right: 40px;
}
</style>